<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
    <!-- <script type="module" src="/components/login.js"></script> -->
</head>
<body>
<h1 style="background:red; height: 10px"></h1>

<div style="text-align: center;">
    <img src="/img/logo.png" style="margin: 20px 0; max-width: 550px; width: 80vw;"/>
</div>

<section class="prompt">
    <div>
        <h1>Sign in</h1>
        <% if (hasMessages) { %>
            <section class="messages">
                <% messages.forEach(function(message) { %>
                    <p><%= message %></p>
                <% }); %>
            </section>
        <% } %>
        <!--<form action="/auth/login" method="post">-->
        <form action="/login/password" method="post">
            <section>
                <label for="username">Username</label>
                <input id="username" name="username" type="text" autocomplete="username" required autofocus>
            </section>
            <section>
                <label for="current-password">Password</label>
                <input id="current-password" name="password" type="password" autocomplete="current-password" required>
            </section>
            <input type="hidden" name="_csrf" value="<%= typeof csrfToken !== 'undefined' ? csrfToken : "NOT USED" %>">
            <button type="submit">Sign in</button>
        </form>
        <hr>
        <p class="help">Don't have an account? <a href="/signup">Sign up</a></p>
        <p class="help">Forgot password? <a href="/forgot">Reset password</a></p>
    </div>
</section>

<section class="prompt">
    <a class="button social google" href="/login/federated/google">Sign in with Google</a>
    <a class="button social linkedin" href="/login/federated/linkedin">Sign in with LinkedIn</a>
    <a class="button social facebook" href="/login/federated/facebook">Sign in with Facebook</a>
    <a class="button social twitter" href="/login/federated/twitter">Sign in with Twitter</a>
    <a class="button apple" href="/login/federated/apple">Sign in with Apple</a>
</section>

<footer class="info">
</footer>

</body>
</html>
