@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Avenir"), url("../fonts/Avenir/Avenir-Medium.woff2") format("woff2"), url("../fonts/Avenir/Avenir-Medium.woff") format("woff");
}

.home a {
  text-decoration: none;
  color: blue;
}

html, body {
  background-color: #000000;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #FFFFFF;
}

div.v-card {
  border-radius: 0;
}

.v-btn {
  text-transform: inherit; /* TODO: Make this work */
}