.btn_createGig {
  margin: 10px;
}

:root {
  /* giants */
  --theme-background-color: #e6d8af;
  --theme-background-color-2: #8b6f4e;
  --theme-primary-color: #000000;
  --theme-secondary-color: #fd5a1e;

  --gray-d: rgba(85, 85, 85, 1);
  --gray: #565656;
  --gray-l: rgba(100, 100, 100, 1);
  --fk-color-input: #ffffff;
  --fk-color-main: #ffffff;
  --fk-color-placeholder: #aaaaaa;
  --fk-max-width-input: 100%;
  --fk-background: #333333;
  --fk-bg-2: #111111;
  --fk-bg-3: #222222;
  --fk-bg-3a: #282828;
  --fk-bg-4: #333333;
  --fk-bg-5: #383838;
  --fk-bg-6: #444444;
  --fk-bg-7: #484848;
  --fk-bg-8: #555555;
  --fk-bg-9: #585858;
  --fk-bg-10: #666666;
  --fk-bg-11: #999999;
  /*--fk-background: var(--theme-background-color-2);*/
  --fk-message-color: #ff0000;
  --fk-error-color: #ff8e8e;
  --fk-bg-special: rgba(0,0,0,0);
  --fk-bg-btn: #222222;
  --fk-bg-button-hover: var(--fk-bg-5);

  --filter-elevate-2: drop-shadow(0 5px 5px #111);
  --filter-elevate-3: drop-shadow(0 10px 10px #111);
}


.formkit-form * {
  font-family: Avenir, sans-serif;
}

form.formkit-form {
  --fk-color-input: #ffffff;
  color: var(--fk-color-input);
  font-family: Avenir, sans-serif;
  min-width: 75vw;
  max-width: 2000px;
  margin: auto;
  background: var(--fk-background);
  border-radius: 1px;
}

div.form-body {
  background-color: var(--fk-bg-2);
  padding: 10px;
}

#app .source-content {
  padding: 2em;
  background: transparent;
}

details {
  border: 1px solid var(--gray);
  background: var(--gray-l);
  border-radius: 1px;
  padding: 1em;
  text-align: left;
}

.formkit-messages {
  text-align: left;
}

.formkit-message {
  color: var(--fk-message-color);
}

.formkit-form > .formkit-messages:last-child {
  padding: 0 2em 2em 2em;
}

.form-body {
  background-color: var(--fk-background);
}

.formGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: normal;
  margin: auto;
}

.formkit-outer {
  margin: 10px;
  padding: 20px;
  border-radius: 1px;
  /*background-color: var(--fk-bg-4);*/
}

.formkit-outer:hover {
  /*filter: drop-shadow(0 0 10px #333);*/
  /*box-shadow: 0 0 9px rgba(0, 0, 0, .33);*/
  z-index: 1;
}

.formkit-outer[data-family="button"] {
  /*filter: drop-shadow(0 0 10px #333);*/
  box-shadow: none;
  padding: 0;
  margin: 0;
  flex: 1 0;
  background-color:var(--fk-bg-special);
  /*flex-grow: .33;
  flex-shrink: 0;*/
}

button.formkit-input:hover {
  /*filter: drop-shadow(0 0 10px #333);*/
  /*box-shadow: 0 0 9px rgba(0, 0, 0, .33);*/
  z-index: 1;
}

button[type="button"].formkit-input {
  /*--fk-bg-button: #222222;*/
  background-color: var(--fk-bg-btn);
  margin: 10px;
  border-radius: 0;
}

div[data-type="button"] .formkit-input:focus-within {
  background-color:var(--fk-bg-special);
}

button[type="button"].formkit-input:hover {
  background-color: var(--fk-bg-button-hover);
  /*box-shadow: inset 0 -2px 0px 0px var(--theme-secondary-color);*/
  border-radius: 0;
}

button[type="button"].formkit-input:focus, button[type="button"].formkit-input:focus-within {
  border: none;
  box-shadow: inset 0 -2px 0px 0px var(--theme-secondary-color);
  background-color: var(--fk-bg-6);
  border-radius: 0;
}

div.formkit-inner {
  border-radius: 1px;
  background-color: var(--fk-bg-3);
  box-shadow: none;
  border: none;
}

.formkit-inner:hover {
  background-color: var(--fk-bg-4);
  z-index: 1;
}

.formkit-inner:focus {
  background-color: var(--fk-bg-6);
}

.formkit-outer[data-invalid]:not([data-type="repeater"]) .formkit-input {
  box-shadow: inset 0 -2px 0px 0px var(--fk-message-color)  ;
}


.formkit-input:active {
  box-shadow: inset 0 -2px 0px 0px var(--theme-secondary-color);
  background-color: var(--fk-bg-5);
}

.formkit-input::placeholder {
  color: var(--fk-color-placeholder);
}

.formTitle {
  text-align: left;
  padding: 7px;
  background-color: var(--fk-bg-3);
}

label.formkit-label {
  font-family: Avenir, Roboto, sans-serif;
  font-weight: normal;
  text-align: left;
  /* background-color: var(--fk-bg-4); */
  padding: 10px 0;
}

select.formkit-input, input.formkit-input, textarea.formkit-input {
  font-family: Avenir, Roboto, sans-serif;
  color: var(--fk-color-input);
  line-height: 1.3em;
}

select.formkit-input[data-placeholder]:not([multiple]) option.formkit-option {
  color: var(--fk-color-input);
}

select.formkit-input > option.formkit-option {
  color: var(--fk-color-input);
}

select > option.formkit-option {
  background-color: var(--fk-bg-4);
  color: var(--fk-color-input);
}

/******************************
 * Sub Sections (Visual grouping of fields)
 ******************************/
.subSection {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: normal;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 0 1px var(--theme-background-color);
}

.subSection_noBorder, section.subSection_noBorder {
  box-shadow: none;
}

.subSection > div.formkit-outer {
  margin: 10px;
  padding: 0;
}
div.subSection > div[data-type="repeater"] {
  margin: 0;
  padding: 0;
}
/******************************/

[data-invalid]>.formkit-fieldset {

}

div[data-type="repeater"] div.formkit-outer {
  margin: 0 0 10px;
  padding: 0 0 10px;
}

div[data-type="repeater"] div.formkit-content {
  background-color: var(--fk-bg-3a);
}

div[data-type="repeater"] .formkit-inner:hover {
  background-color: var(--fk-bg-3);
}

div[data-type="repeater"] .formkit-inner:hover, div[data-type="repeater"] .formkit-inner:active, div[data-type="repeater"] .formkit-inner:focus-within {
  background-color: var(--fk-bg-3);
}

div[data-type="repeater"] .formkit-input:hover {
  background-color: var(--fk-bg-4);
}

div[data-type="repeater"] .formkit-input:active {
  background-color: var(--fk-bg-5);
}

div[data-type="repeater"] .formkit-input:focus-within {
  box-shadow: inset 0 -2px 0px 0px var(--theme-secondary-color);
  background-color: var(--fk-bg-6);
}

div[data-type="repeater"] .formkit-items {
  display: flex;
  flex-wrap: wrap;
  /*filter: drop-shadow(0 0 3px #111);*/
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

div[data-type="repeater"] .formkit-item {
  margin: 20px;
  border: none;
  /*filter: drop-shadow(0 0 2px #111);*/
  /*box-shadow: 0 0px 10px #111111;*/
  transition: filter .3s;
}

div[data-type="repeater"] .formkit-item:hover{
  filter: var(--filter-elevate-2);
}
div[data-type="repeater"] .formkit-item:focus-within {
  filter: var(--filter-elevate-3);
}


div[data-type="repeater"] .formkit-controls {
  background-color: var(--fk-bg-3a);
  border-radius: 0;
}

div[data-type="repeater"] .formkit-legend {
  font-family: Avenir, Roboto, sans-serif;
  font-weight: bold;
}

.formkit-input {
  font-family: 'Avenir', "Roboto", sans-serif;
  padding: 20px;
  color: var(--fk-color-input);
  background: var(--fk-bg-3);
  --fk-border-radius: 0;
  border-radius: 0;
}

select.formkit-input[data-placeholder]:not([multiple]) option {
  color: var(--fk-color-input);
}

textarea.formkit-input {
  min-width: 300px;
  min-height: 300px;
}


.formkit-input[name="title"] {
  /*flex: 0 0 100%;*/
}

.container_actions {
  position: relative;
  bottom: 0;
}

.container_save {
  text-align: right;


  /*position: fixed;*/
  /*bottom: 0;*/
  /*width: 100%;*/
  /*height: 80px;*/
  /*background-color: var(--fk-bg-3);*/
  /*z-index: 1;*/
}

.container_save > [data-type="submit"] {
  display: inline-block;
}

[data-type="file"] .formkit-input {

}

span.punch div[data-type="time"] input {
  --fk-color-input: #ffffff;
  color: var(--fk-color-input);
}


.steps {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  /*background: var(--theme-background-color-2);*/
  /*background-color:var(--fk-bg-special);*/
  background-color: var(--fk-bg-2);
  border-radius: 0;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  /*border-bottom: 1px solid var(--gray);*/
}

.step {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  /*background: var(--gray-l);*/
/*  border-top: .5px solid rgba(255, 255, 255, .5);
  border-right: .5px solid rgba(0, 0, 0, .25);
  border-bottom: .5px solid rgba(0, 0, 0, .5);*/
  /*border-left: .5px solid rgba(255, 255, 255, .5);*/
  color: var(--fk-color-input);
  flex-grow: .33;
  flex-shrink: 0;
  position: relative;
}

.step:hover {
  cursor: pointer;
  /*box-shadow: 0 0 10px #333;*/
  /* filter: drop-shadow(0 0 10px #333); */
  /*background-color: rgba(255, 255, 255, .1);*/
  background-color: var(--fk-bg-3);
  z-index: 1;
}

.step:last-child {

  /*box-shadow: 0.1em -0.1em 0.1em 0 rgba(0, 0, 0, 0.33)*/
}

[data-step-active="true"] {
  color: var(--fk-color-input);
  /*background: #6b6b6b !important;*/
  /*border-bottom: none;*/
  position: relative;
  /*filter: drop-shadow(0 0 30px #333);*/
  /*box-shadow: 0 0 20px rgba(0, 0, 0, .66);*/
  z-index: 2;
  /* horiz, vert, blur rad, spread rad */
  box-shadow: inset 0 -2px 0px 0px var(--theme-secondary-color);
}

.step--errors,
[data-step-valid="true"]:before {
  content: '✓';
  font-weight: bolder;
  background-color: var(--fk-color-input);
  border-radius: 50%;
  margin: 0 5px 0 0;
  /*position: absolute;*/
  top: 4px;
  right: 4px;
  height: 18px;
  width: 18px;
  z-index: 10;
  display: flex;
  font-size: 10px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--fk-background);
  /*filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.13));*/
}

.step--errors {
  background-color: var(--fk-message-color);
  font-weight: bolder;
  border-radius: 50%;
  color: var(--fk-color-input);
  z-index: 100;
  /*filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.13));*/
}

.step-nav {
  display: flex;
  margin-top: 2em;
  margin-bottom: 1em;
  justify-content: space-between;
}

.formkit-help, .formkit-option-help {
  color: var(--fk-color-input);
  text-align: left;
}

.next {
  margin-left: auto;
}

.formkit-outer[data-type="submit"] .formkit-wrapper {
  padding: 10px;
  display: flex;
}

.formkit-outer[data-type="submit"] .formkit-input {
  margin: 10px auto;
  /*margin-left: auto;  */
  /*margin-right: 0;*/
  background-color: var(--theme-secondary-color);
  border-radius: 0;
}

.formkit-outer[data-type="submit"] .formkit-input:hover {
  background-color: var(--theme-secondary-color);
}

.formkit-outer[data-type="submit"] .formkit-input:focus-within {
  border: none;
}

[data-errors="true"] .formkit-label {
  color: var(--fk-error-color);
}


div.formkit-wrapper {
  /*max-width: var(--fk-max-width-input);*/
  max-width: none;
}

div.formkit-inner {
  /*box-shadow: inset 0 -2px 0px 0px #555555;*/
}


div.formkit-inner:focus-within {
  box-shadow: inset 0 -2px 0px 0px var(--theme-secondary-color);
  background-color: var(--fk-bg-6);
}

div[data-type="checkbox"] .formkit-inner, [data-type="radio"] .formkit-inner {
  box-shadow: none;
  background-color: var(--fk-bg-special);
}

div[data-type="checkbox"] .formkit-input:checked ~ .formkit-decorator, div[data-type="radio"] .formkit-input:checked ~ .formkit-decorator {
  box-shadow: 0 0 0 1px var(--fk-color-input);
}


div[data-type="checkbox"] .formkit-input:focus ~ .formkit-decorator, div[data-type="radio"] .formkit-input:focus ~ .formkit-decorator {
  box-shadow: 0 0 0 1px var(--theme-secondary-color);
}


div[data-type="checkbox"] .formkit-input:checked ~ .formkit-decorator .formkit-icon, div[data-type="radio"] .formkit-input:checked ~ .formkit-decorator .formkit-icon {
  color: var(--fk-color-input);
}



button:hover, summary {
  cursor: pointer
}

p {
  max-width: 600px;
}

p small {
  color: var(--fk-bg-11);
}

h1 {
  margin: .25em 0;
  max-width: 600px;
}

/*************************************
 * Mobile (small screen) classes
 *************************************/
@media (max-width: 438px) {
  h1 {
    font-size: 1.15em;
  }

  #app .source-content {
    padding: 0.5em;
  }

  .steps {
    /*flex-direction: column;*/
  }

  .step {
    flex-grow: 1;
    padding: 8px 20px;
  }

  .step:last-child {
    border-bottom: none;
  }

  .form-body {
    padding: 0;
  }

  .formkit-outer[data-type="submit"] .formkit-wrapper {
    padding: 0 1em 1em 1em;
    display: flex;
  }

  .formkit-form > .formkit-messages {
    padding: 0 1em 0em 1em;
  }

  .formkit-form > .formkit-messages:last-child {
    padding: 0 1em 1em 1em;
  }
}
